:root {
  --cor-primaria: 22, 71, 115;
  --cor-secundaria: 11, 43, 64;
}

.navbar-custom {
  background-color: rgba(var(--cor-primaria));
}

.nav-link:hover {
  background-color: rgba(var(--cor-secundaria));
}

.navbar-toggler:focus {
  background-color: rgba(var(--cor-secundaria));
}

.footer-custom-bg {
  background-color: rgba(var(--cor-secundaria));
}

.bg-primario {
  background-color: rgba(var(--cor-primaria));
}

.btn-custom {
  background-color: rgba(var(--cor-primaria));
  color: #ffffff;
}

.btn-custom:hover {
  background-color: rgba(var(--cor-secundaria));
  color: #ffffff;
}

.dropdown-item:hover {
  background-color: rgba(var(--cor-secundaria));
  color: #ffffff;
  transition: all 0.3s;
}

.footer-custom a:hover {
  color: rgba(var(--cor-primaria)) !important;
  transition: all 0.3s;
}

.form-control:focus {
  border-color: rgba(var(--cor-primaria), 0.5) !important;
  box-shadow: 0 0 0 0.1rem rgba(var(--cor-primaria), 0.5) !important;
}

::-webkit-scrollbar-track {
  background-color: rgba(var(--cor-primaria), 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--cor-primaria));
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--cor-primaria));
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all .3s;
}

#table-query {
  border: solid 1px rgba(var(--cor-primaria));
}