{% extends "vw_template_atestados.html" %} {% block content %} 

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <div class="card-header">
                    <h4 class="text-center align-self-center" style="font-size:35px;">Consulta de Atestados</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover table-align-middle">
                        <thead class="table-success">
                            <tr>
                                <th>Código do Atestado (CID)</th>
                                <th>Data do Envio</th>
                                <th>Período de Afastamento</th>
                                <th>Status do Atestado</th>
                                <th>Visualizar Atestado</th>
                            </tr>
                        </thead>
                        <!--Fileiras de Atestados, Substituir por valores reais quando o Banco de dados estiver pronto-->
                        <tbody>
                            <tr>
                                <td>Exemplo de Atestado</td>
                                <td>01/01/2023</td>
                                <td>DD/MM/AAAA - DD/MM/AAAA</td>
                                <td>Aprovado</td>
                                <td class="text-center"><button class="btn btn-success">Visualizar PDF</button></td>
                            </tr>
                            <tr>
                                <td>Exemplo de Atestado</td>
                                <td>01/01/2023</td>
                                <td>DD/MM/AAAA - DD/MM/AAAA</td>
                                <td>Aprovado</td>
                                <td class="text-center"><button class="btn btn-success">Visualizar PDF</button></td>
                            </tr>
                            <tr>
                                <td>Exemplo de Atestado</td>
                                <td>01/01/2023</td>
                                <td>DD/MM/AAAA - DD/MM/AAAA</td>
                                <td>Aprovado</td>
                                <td class="text-center"><button class="btn btn-success">Visualizar PDF</button></td>
                            </tr>
                            <tr>
                                <td>Exemplo de Atestado</td>
                                <td>01/01/2023</td>
                                <td>DD/MM/AAAA - DD/MM/AAAA</td>
                                <td>Aprovado</td>
                                <td class="text-center"><button class="btn btn-success">Visualizar PDF</button></td>
                            </tr>
                            <!-- Colocar script que adicione mais fileiras dependendo do número de atestados no nome da pessoa -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}