{% extends "vw_template_atestados.html" %} {% block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='stylesheets/style_form_atestados.css') }}"
/>

<section id="atestados-section" class="container-fluid">
  <h1 class="text-center">Cadastro de Atestados Médicos</h1>

  <form id="form-atestados" method="post" enctype="multipart/form-data">
    <div class="container">
      <div class="row">
        <!-- Primeiros dois campos à esquerda -->
        <div class="col-md-6">
          <div class="form-group p-2">
            <label for="input-email-form-atestados">E-mail:</label>
            <input
              type="email"
              class="form-control"
              id="input-email-form-atestados"
              name="input-email-form-atestados"
              aria-describedby="emailHelp"
              placeholder="Seu email"
              required
              autocomplete="off"
            />
            <small id="emailHelp" class="form-text text-muted"
              >Nunca vamos compartilhar seu email, com ninguém.</small
            >
          </div>

          <div class="form-group p-2">
            <label for="input-nome-form-atestados">Nome completo:</label>
            <input
              type="text"
              class="form-control"
              id="input-nome-form-atestados"
              name="input-nome-form-atestados"
              aria-describedby="nameHelp"
              placeholder="Nome"
              required
              autocomplete="off"
            />
          </div>

          <div class="form-group p-2">
            <label for="input-cid-form-atestados">CID do afastamento:</label>
            <input
              type="text"
              class="form-control"
              id="input-cid-form-atestados"
              name="input-cid-form-atestados"
              aria-describedby="cidHelp"
              placeholder="Ex: M51.4"
              required
              autocomplete="off"
            />
          </div>
        </div>

        <!-- Dois seguintes à direita -->
        <div class="col-md-6">
          <div class="form-group p-2">
            <label for="input-cpf-form-atestados">CPF:</label>
            <input
              type="text"
              class="form-control"
              id="input-cpf-form-atestados"
              name="input-cpf-form-atestados"
              aria-describedby="cpfHelp"
              placeholder="Seu CPF"
              required
              autocomplete="off"
            />
            <small id="cpfHelp" class="form-text text-muted"
              >Nunca vamos compartilhar seu CPF, com ninguém.</small
            >
          </div>

          <div class="form-group p-2">
            <label for="input-curso-form-atestados">Curso:</label>
            <input
              type="text"
              class="form-control"
              id="input-curso-form-atestados"
              name="input-curso-form-atestados"
              aria-describedby="cursoHelp"
              placeholder="Nome do curso"
              required
              autocomplete="off"
            />
          </div>

          <div class="form-group p-2">
            <label for="select-form-atestados">Semestre</label>
            <select
              class="form-control"
              id="select-form-atestados"
              name="select-form-atestados"
            >
              <option>1°</option>
              <option>2°</option>
              <option>3°</option>
              <option>4°</option>
              <option>5°</option>
              <option>6°</option>
              <option>7°</option>
              <option>8°</option>
              <option>9°</option>
              <option>10°</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Campos centrais -->
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="form-group p-2 text-center">
            <label for="date-form-atestados-1">Período de afastamento:</label>
            <input
              type="date"
              id="date-form-atestados-1"
              name="date-form-atestados-1"
              required
            />
            até
            <input
              type="date"
              id="date-form-atestados-2"
              name="date-form-atestados-2"
              required
            />, inclusive.
          </div>

          <div class="form-group p-2">
            <label for="file-form-atestados"
              >Anexar Atestado
              <strong>(Deve conter assinatura do médico com CRM)</strong></label
            >
            <div class="file-upload-area" id="file-upload-area">
              <input
                type="file"
                class="form-control-file"
                id="file-form-atestados"
                name="file-form-atestados"
                style="display: none"
                accept=".pdf"
                required
              />
              <span>Arraste ou clique para escolher o arquivo</span>
            </div>
          </div>

          <div class="form-group form-check p-2 text-center">
            <input
              type="checkbox"
              class="form-check-input"
              id="checkbox-form-atestados"
              required
            />
            <label class="form-check-label" for="checkbox-form-atestados"
              >DECLARO VERACIDADE DAS INFORMAÇÕES FORNECIDAS</label
            >
          </div>

          <div class="text-center p-2">
            <button type="submit" class="btn btn-custom">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<script src="{{ url_for('static', filename='scripts/script_form_atestados.js') }}"></script>
{% endblock %}
