/* Estilização do input file */
.file-upload-area {
    border: 2px dashed rgb(59, 140, 110); /* Borda pontilhada azul (#007bff) */
    padding: 30px; /* Espaçamento interno */
    background-color: rgb(248, 249, 250); /* Fundo claro (#f8f9fa) */
    text-align: center; /* Centraliza o texto */
    border-radius: 10px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.file-upload-area:hover {
    background-color: rgb(233, 236, 239); /* Fundo mais escuro quando passar o mouse (#e9ecef) */
}

.file-upload-area span {
    color: rgb(59, 140, 110); /* Cor do texto (#007bff) */
    font-size: 16px; /* Tamanho da fonte */
}

.file-upload-area input[type="file"] {
    display: none; /* Esconde o input de arquivo original */
}

/* Titulos */
#form-register-title {
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
  }

/* Tamanhos */
.file-upload-area {
    width: 100%;
}

#checkbox-form-atestados{
    float: none;
}

.input-title{
    font-weight: bold;
}

.form-group {
  position: relative;
}

/* Estilos para os campos de senha */
#input-password-form-users,
#input-confirm-password-form-users {
  font-size: 1rem;
  width: 100%;
  padding-right: 40px; /* Espaço para o botão */
}

/* Botões de visibilidade posicionados dentro do input */
#toggle-password-user,
#toggle-confirm-password-user {
  position: absolute;
  top: 66%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: #157331;
  border: none;
  background: transparent;
  padding: 0;
  z-index: 2;
}

#toggle-password-user i,
#toggle-confirm-password-user i {
  cursor: pointer;
}
