body {
    text-align: center;
}

/* Container principal dos gráficos */
.graficos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    justify-self: center;
}

/* Cartão que envolve os gráficos */
.card {
    display: flex;
    width: 95%;
    height: auto;
    margin: 10px;
    overflow: hidden;
}

/* Cabeçalho do cartão */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
}

/* Corpo do cartão */
.card-body {
    display: flex;
}

/* Container para métricas */
.container {
    display: inline;
    border: 1px solid gray;
    border-radius: 20px;
    width: 45%;
    height: 40%;
    text-align: center;
    margin: 10px;
}

/* Parágrafo dentro do container de métricas */
.container > p {
    color: white;
    background-color: rgb(59, 140, 110);
    border-radius: 10px;
    padding: 0 5px;
    margin-top: 10px;
    font-size: 24px;
}

/* Estilização do texto das métricas */
.texto-metrica {
    font-size: 22px;
    padding: none;
}

/* Seletor de ano */
#selecionarAno {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

#selecionarAno > label {
    margin-right: 15px;
}

/* Estilização do select de ano */
select#selectAno {
    border-color: rgb(59, 140, 110);
    height: 35px;
    width: 90px;
    color: rgb(59, 140, 110);
}

select#selectAno:focus {
    box-shadow: 0 0 8px rgb(59, 140, 110);
}

/* Seção mensal do dashboard */
#mensal {
    width: 100%;
    min-height: 300px;
}

/* Cartão específico para mensal */
#card-mensal {
    width: 70%;
}

/* Ajustes para telas menores que 1286px */
@media (max-width: 1286px) {
    .card, #card-mensal {
        width: 95%;
    }
    .card-body {
        flex-direction: column;
        align-items: center;
    }
    .container {
        width: 100%;
    }
}

/* Ajustes para telas menores que 1000px */
@media (max-width: 1000px) {
    .graficos-container {
        flex-direction: column;
    }
    .card-body {
        flex-direction: column;
        align-items: center;
    }
    .container {
        width: 100%;
    }
    .card-header {
        flex-direction: column;
        font-size: 22px;
        text-align: center;
    }
    .container > p {
        font-size: 20px;
    }
    .texto-metrica {
        font-size: 18px;
    }
}

