:root {
    --cor-principal: rgb(59, 140, 110);
    --cor-segunda: rgb(11, 43, 64);
}

/* Botões */

.nav-button {
    background-color: var(--cor-principal);
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 5px 5px;
    border: transparent;
    border-radius: 10px;
    margin: 16px 0 0 0;
}

.btn-small {
    color: var(--cor-principal);
    padding: 2px 20px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    transition: all .3s ease;
}
.btn-small:hover{
    background-color: var(--cor-segunda);
    color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none; 
}

.carousel-control-prev::before,
.carousel-control-next::after {
  content: '‹';
  font-size: 3rem;
  color: var(--cor-principal); 
}

.carousel-control-next::after {
  content: '›'; /* seta pra direita */
}