
#table-query {
    width: 96%;
    margin: auto;
    justify-content: space-around;
    text-align: center;
    
}

#table-query th, td {
    padding: 10px;
    text-align: center;
}

.table-query-tr {
    cursor: pointer;
}

.table-query-tr:hover {
    background-color: lightgrey;
    transition: all 0.2s ease;
}
