:root {
    --cor-principal: rgb(59, 140, 110);
    --cor-segunda: rgb(11, 43, 64);
}

/* Botões */

.nav-button {
    background-color: var(--cor-principal);
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px 5px;
    border: transparent;
    border-radius: 10px;
    margin: 16px 0 0 0;
}

.btn-small {
    color: var(--cor-principal);
    padding: 2px 20px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
}
.btn-small:hover{
    background-color: var(--cor-segunda);
    color: white;
}