{% extends "certificates/vw_template.html" %} {% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/certificates/style_dashboard.css') }}">

<!-- Import Google Charts e script js-->
<script>
var metricas = JSON.parse('{{ metricas | tojson | safe }}');
</script>


<script defer src="{{ url_for('static', filename='scripts/certificates/script_dashboard.js') }}"></script>
<!---->


<h1> Painel de atestados </h1>
<p>{{ metricas }}</p>

<section class="graficos-container">
    <section id="card-estado" class="card">
        <div class="card-header">Quantidade por Estado</div>
        <div class="card-body">
            <div class="container">
                <p >Pessoas Afastadas</p>
                <div class="texto-metrica"><p>{{ metricas[6] }}</p></div>
            </div>
            <div class="container">
                <p>Atestados Pendentes</p>
                <div class="texto-metrica"><p>{{ metricas[1] }}</p></div>
            </div>
            <div class="container">
                <p>Atestados Aprovados</p>
                <div class="texto-metrica"><p>{{ metricas[2] }}</p></div>
            </div>
            <div class="container">
                <p>Atestados Rejeitados</p>
                <div class="texto-metrica"><p>{{ metricas[3] }}</p></div>
            </div>
        </div>
    </section>
    <section  id="card-mensal" class="card">
        <div class="card-header">
            Quantidade de Atestados Mensais
            <section id="selecionarAno">
                <label>Selecione o ano:</label>
                <select id="selectAno" class="form-select">
                    {% for ano in metricas[4] %}
                        <option value="{{ ano }}">{{ ano }}</option>
                    {% endfor %}
                </select>
            </section>
        </div>
        <div id="mensal" class="card-body"></div>
    </section>
</section>



{% endblock %}