{% extends "certificates/vw_template.html" %} {% block content %}

<!-- Modal de confirmação de e-mail -->
<div
  class="modal fade"
  id="modalConfirmacao"
  tabindex="-1"
  aria-labelledby="modalConfirmacaoLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="modalConfirmacaoLabel">
          Confirme seu e-mail
        </h5>
      </div>
      <div class="modal-body">
        <p>
          Enviamos um código para <strong
            id="email-destino"></strong>. Verifique na sua caixa de span! Por
          favor, digite abaixo:
        </p>
        <form id="form-confirmacao">
          <input
            type="int"
            class="form-control mb-3"
            id="input-codigo-form-users"
            name="input-codigo-form-users"
            placeholder="Digite o código"
            autocomplete="off"
            required />
          <div class="text-end">
            <button type="submit"
              class="btn btn-custom">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<section class="container-fluid">
  <h1 class="text-center form-register-title">Cadastro de Usuários</h1>

  <div class="container bg-light p-4 mb-4 rounded">
    <form id="form-users" method="post">
      <div class="row">
        <!-- Campos à esquerda -->
        <div class="col-md-6">
          <div class="form-group p-2">
            <label for="input-email-form-users"
              class="input-title">E-mail:</label>
            <input
              type="email"
              class="form-control"
              id="input-email-form-users"
              name="input-email-form-users"
              aria-describedby="emailHelp"
              placeholder="Seu email"
              required
              autocomplete="off" />
          </div>

          <div class="form-group p-2">
            <label for="input-nome-form-users" class="input-title">Nome
              completo:</label>
            <input
              type="text"
              class="form-control"
              id="input-nome-form-users"
              name="input-nome-form-users"
              aria-describedby="nameHelp"
              placeholder="Nome"
              required
              autocomplete="off" />
          </div>

          <div class="form-group p-2">
            <label for="input-senha-form-users"
              class="input-title">Senha:</label>
            <input
              type="password"
              class="form-control"
              id="input-senha-form-users"
              name="input-senha-form-users"
              aria-describedby="passwordHelp"
              placeholder="Senha"
              required
              autocomplete="off" />
          </div>

        </div>

        <!-- Seguintes à direita -->
        <div class="col-md-6">
          <div class="form-group p-2">
            <label for="input-curso-form-users"
              class="input-title">Curso:</label>
            <select
              class="form-control"
              id="input-curso-form-users"
              name="input-curso-form-users">
              <option value="Análise e Desenvolvimento de Sistemas">Análise e
                Desenvolvimento de Sistemas</option>
              <option value="Banco de Dados">Banco de Dados</option>
              <option
                value="Desenvolvimento de Software Multiplataforma">Desenvolvimento
                de Software Multiplataforma</option>
              <option value="Gestão da Produção Industrial">Gestão da Produção
                Industrial</option>
              <option value="Gestão Empresarial">Gestão Empresarial</option>
              <option value="Logística">Logística</option>
              <option value="Manufatura Avançada">Manufatura Avançada</option>
              <option value="Manutenção de Aeronaves">Manutenção de
                Aeronaves</option>
              <option value="Projeto de Estruturas Aeronáuticas">Projeto de
                Estruturas Aeronáuticas</option>
            </select>
          </div>

          <div class="form-group p-2">
            <label for="select-form-users"
              class="input-title">Semestre:</label>
            <select
              class="form-control"
              id="select-form-users"
              name="select-form-users">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
              <option value="5">5°</option>
              <option value="6">6°</option>
              <option value="7">7°</option>
              <option value="8">8°</option>
              <option value="9">9°</option>
              <option value="10">10°</option>
            </select>
          </div>
          <div class="form-group p-2">
            <label for="input-confirmarsenha-form-users" class="input-title">Confirmar
              Senha:</label>
            <input
              type="password"
              class="form-control"
              id="input-confirmarsenha-form-users"
              name="input-confirmarsenha-form-users"
              aria-describedby="confirmpasswordHelp"
              placeholder="Confirme a senha"
              required
              autocomplete="off" />
          </div>
        </div>
      </div>

      <div class="text-center p-2">
        <button type="submit" class="btn btn-custom">Validar</button>
      </div>
    </form>
  </div>
</section>

<script
  src="{{ url_for('static', filename='scripts/certificates/script_form_register.js') }}"></script>
{% endblock %}
