{% extends "certificates/vw_template.html" %} {% block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='stylesheets/certificates/style_form_login.css') }}"
/>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-5">
        <div class="card-header">
          <h4 class="text-center align-self-center form-login-title">Acesso da Secretaria</h4>
        </div>
        <div class="card-body">
          <form id="form-login-secretary" method="POST">
            <p style="text-align: center">
              Informe o código de funcionário da secretaria para acessar o
              sistema:
            </p>
            <label for="input-password-secretary" style="font-weight: bold;">Código: </label>
            <div class="input-group mb-3">
              <input
                autocomplete="off"
                type="password"
                name="input-password-secretary"
                id="input-password-secretary"
                class="form-control"
                style="width: flex; float: left"
                required
              />
              <i class="bi bi-eye-fill" id="show-password" style="z-index: 10;" onclick="showPassword()">
              </i>
            </div>
            <div class="form-group mb-3 text-center">
              <button type="submit" class="btn btn-custom">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='scripts/certificates/script_form_login_secretary.js') }}"></script>
{% endblock %}
