{% extends "certificates/vw_template.html" %} {% block content %}

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='stylesheets/certificates/style_form_register.css') }}" />

<section class="container-fluid">
    <h1 class="text-center form-register-title m-2 p-2">Cadastro de Atestado
        Médico</h1>
    <div class="container bg-light p-4 mb-4 rounded">
        <form id="form-certificates" method="post" enctype="multipart/form-data">

            <!-- Campos centrais -->
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="form-group p-2">
                        <label for="input-cid-form-certificates"
                            class="input-title">CID do afastamento:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="input-cid-form-certificates"
                            name="input-cid-form-certificates"
                            aria-describedby="cidHelp"
                            placeholder="Ex: M51.4"
                            required
                            autocomplete="off" />
                    </div>
                    <div class="form-group p-2 text-center">
                        <label for="date-form-certificates-1"
                            class="input-title">Período de afastamento:</label>
                        <input
                            type="date"
                            id="date-form-certificates-1"
                            name="date-form-certificates-1"
                            required />
                        até
                        <input
                            type="date"
                            id="date-form-certificates-2"
                            name="date-form-certificates-2"
                            required />
                    </div>

              
                    <div class="form-group p-2">
                        <label for="file-form-certificates">Anexar Atestado
                            <strong>(Deve conter assinatura do médico com
                                CRM)</strong>:</label>
                        <div class="file-upload-area" id="file-upload-area">
                            <input
                                type="file"
                                class="form-control-file"
                                id="file-form-certificates"
                                name="file-form-certificates"
                                style="display: none"
                                accept=".pdf"
                                required />
                            <span>Arraste ou clique para escolher o
                                arquivo</span>
                        </div>
                 
                    </div>

                    <div class="form-group form-check p-2 text-center">
                        <input
                            style="float: none;"
                            type="checkbox"
                            class="form-check-input"
                            id="checkbox-form-certificates"
                            required />
                        <label class="form-check-label"
                            for="checkbox-form-certificates"
                            style="font-weight: bold;">DECLARO VERACIDADE DAS
                            INFORMAÇÕES FORNECIDAS</label>
                    </div>
                </div>
            </div>
            <div class="text-center p-2">
                <button type="submit" class="btn btn-custom">Enviar</button>
            </div>
        </form>
    </div>
</section>

<script
    src="{{ url_for('static', filename='scripts/certificates/script_form_upload.js') }}"></script>
{% endblock %}