{% extends "certificates/vw_template.html" %} {% block content %}

<!-- Modal de confirmação de e-mail -->
<div
  class="modal fade"
  id="modal-confirmation"
  tabindex="-1"
  aria-labelledby="label-modal-confirmation"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header">
        <h5 class="modal-title">
          Confirme seu e-mail
        </h5>
      </div>
      <div class="modal-body">
        <p>
          Enviamos um código para <strong
            id="email-addressee"></strong>. Verifique na sua caixa de span! Por
          favor, digite abaixo:
        </p>
        <form id="form-confirmation">
          <input
            type="int"
            class="form-control mb-3"
            id="input-code-form-users"
            name="input-code-form-users"
            placeholder="Digite o código"
            autocomplete="off"
            required />
          <div class="text-end">
            <button type="submit"
              class="btn btn-custom">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<section class="container-fluid">
  <br>
  <h1 class="text-center" id="form-register-title">Cadastro de Usuário</h1>
  <br>

  <div class="container bg-light p-4 mb-4 rounded">
    <form id="form-users" method="post">
      <div class="row">
        <!-- Campos à esquerda -->
        <div class="col-md-6">
          <div class="form-group p-2">
            <label for="input-email-form-users"
              class="input-title">E-mail:</label>
            <input
              type="email"
              class="form-control"
              id="input-email-form-users"
              name="input-email-form-users"
              aria-describedby="email-help"
              placeholder="seuemail@exemplo.com"
              required
              autocomplete="off" />
          </div>

          <div class="form-group p-2">
            <label for="input-name-form-users" class="input-title">Nome
              completo:</label>
            <input
              type="text"
              class="form-control"
              id="input-name-form-users"
              name="input-name-form-users"
              aria-describedby="name-help"
              placeholder="Egydio da Silva"
              required
              autocomplete="off" />
          </div>

          <div class="form-group p-2">
            <label for="input-password-form-users"
              class="input-title">Senha:</label>
            <input
              type="password"
              class="form-control"
              id="input-password-form-users"
              name="input-password-form-users"
              aria-describedby="password-help"
              placeholder="*********"
              minlength="12"
              required
              autocomplete="off" />
          </div>

        </div>

        <!-- Seguintes à direita -->
        <div class="col-md-6">
          <div class="form-group p-2">
            <label for="select-course-form-users"
              class="input-title">Curso:</label>
            <select
              class="form-control"
              id="select-course-form-users"
              name="select-course-form-users">
              <option value="Análise e Desenvolvimento de Sistemas">Análise e
                Desenvolvimento de Sistemas</option>
              <option value="Banco de Dados">Banco de Dados</option>
              <option
                value="Desenvolvimento de Software Multiplataforma">Desenvolvimento
                de Software Multiplataforma</option>
              <option value="Gestão da Produção Industrial">Gestão da Produção
                Industrial</option>
              <option value="Gestão Empresarial">Gestão Empresarial</option>
              <option value="Logística">Logística</option>
              <option value="Manufatura Avançada">Manufatura Avançada</option>
              <option value="Manutenção de Aeronaves">Manutenção de
                Aeronaves</option>
              <option value="Projeto de Estruturas Aeronáuticas">Projeto de
                Estruturas Aeronáuticas</option>
            </select>
          </div>

          <div class="form-group p-2">
            <label for="select-semester-form-users"
              class="input-title">Semestre:</label>
            <select
              class="form-control"
              id="select-semester-form-users"
              name="select-semester-form-users">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
              <option value="5">5°</option>
              <option value="6">6°</option>
              <option value="7">7°</option>
              <option value="8">8°</option>
              <option value="9">9°</option>
              <option value="10">10°</option>
            </select>
          </div>
          <div class="form-group p-2">
            <label for="input-confirm-password-form-users"
              class="input-title">Confirmar
              Senha:</label>
            <input
              type="password"
              class="form-control"
              id="input-confirm-password-form-users"
              name="input-confirm-password-form-users"
              aria-describedby="confirm-password-help"
              placeholder="Confirme a senha"
              minlength="12"
              required
              autocomplete="off" />
          </div>
        </div>
      </div>
      <section style="text-align: center; margin-top: 30px;">
        <p>Ao selecionar a opção <strong>Validar</strong>, o usuário declara
        estar de acordo com a nossa <a href="/usuarios/privacidade" target="blank" class="link-custom">
        política de privacidade</a>.</p>
      </section>
      <div class="text-center p-2">
        <button type="submit" class="btn btn-custom">Validar</button>
      </div>
    </form>
  </div>
</section>

<script
  src="{{ url_for('static', filename='scripts/certificates/script_form_register.js') }}"></script>
{% endblock %}
