{% extends "certificates/vw_template.html" %} {% block content %}
<link rel="stylesheet"
    href="{{ url_for('static', filename='stylesheets/certificates/style_profile.css') }}">
<script defer
    src="{{ url_for('static', filename='scripts/certificates/script_profile.js') }}">
</script>

<section id="profile-container" class="container mb-5">
    <!-- Data -->
    <data id="name" value="{{session['user']['name']}}"></data>
    <data id="email" value="{{session['user']['email']}}"></data>
    <data id="course" value="{{session['user']['course']}}"></data>
    <data id="semester" value="{{session['user']['semester']}}"></data>

    <div class="row">
        <!-- Navigation Buttons -->
        <section id="navigation" class="col-md-4 mt-5 h-100">
            <div class="card h-100">
                <div class="card-header">
                    <h3 id="name-nav-header">{{session['user']['name']}}</h3>
                </div>
                <div class="card-body">
                    <ul class="nav flex-column">
                        <li class="nav-item w-100">
                            <button class="nav-button btn-custom">Dados
                                Pessoais</button>
                        </li>
                        <li class="nav-item w-100">
                            <button class="nav-button btn-custom"
                                id="btn-change-info-card">Controle de
                                Dados</button>
                        </li>
                        <li class="nav-item w-100">
                            <button class="nav-button btn-custom">Alterar
                                Senha</button>
                        </li>
                        {% if teams|length > 0 %}    
                         <li class="nav-item w-100">
                            <button class="nav-button btn-custom">Equipes</button>
                        </li>
                        {% endif %}
                    </ul>

                </div>
                <div class="card-footer d-flex justify-content-evenly"
                    style="background-color: transparent; border: none;">
                    <a class="btn-small" id="sair-button"
                        href="/logout">Sair</a>
                </div>
            </div>
        </section>

        <!-- Information Section -->
        <section id="information" class="col-md-8 mt-5">

            <!-- Personal Info -->
            <section id="personal-info" class="container-info card w-100 h-100">
                <div class="card-header">
                    <h4>Dados Pessoais</h4>
                </div>
                <div class="card-body mt-3 h-50">
                    <ul class="list-group list-group-flush"
                        id="list-personal-info">
                        <h5>Informações</h5>
                        <li id="li-name" class="list-group-item">Nome:
                            {{session['user']['name']}}</li>
                        <li class="list-group-item">Email:
                            {{session['user']['email']}}</li>
                        <li id="li-course" class="list-group-item">Curso:
                            {{session['user']['course']}}</li>
                        <li id="li-semester" class="list-group-item">Semestre:
                            {{session['user']['semester']}}°</li>
                    </ul>
                </div>
            </section>

            <!-- Personal info Update -->
            <section id="update-info" class="container-info card w-100 h-100"
                style="display: none;">
                <div class="card-header">
                    <h4>Controle de Dados</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5>Atualizar dados pessoais</h5>
                            <p>Atualize seus dados pessoais, como nome, curso e
                                semestre, sempre que necessário.</p>
                            <button class="btn-small"
                                id="btn-update-info"><strong>Atualizar dados
                                    pessoais</strong></button>
                        </li>
                        <li class="list-group-item mt-1">
                            <h5>Excluir Conta</h5>
                            <p>Ao excluir sua conta, todas as suas informações
                                serão removidas do sistema, incluindo dados
                                pessoais e atestados enviados.</p>
                            <button class="btn-small"
                                id="btn-delete-account"><strong>Excluir
                                    conta</strong></button>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- Password update -->
            <section id="security" class="container-info card w-100 h-100"
                style="display: none;">
                <div class="card-header">
                    <h4>Alterar Senha</h4>
                </div>
                <div style="display: flex;">
                    <h4 class="mx-auto mt-4">{{session['user']['email']}}</h4>
                </div>
                <section id="change-password-section"
                    class="container card-body">
                    <form id="change-password-form">
                        <div class="row">
                            <div class="col-lg mt-3" style="max-height: 3.3em;">
                                <label class="input-title">Senha Atual:</label>
                                <input class="form-control" type="password"
                                    id="senha_atual" name="senha_atual"
                                    required>
                                <button type="button" class="btn btn-link btn-showpassword float-end" onclick="showPassword('#senha_atual', '#password-icon')">
                                    <i id="password-icon" class="bi bi-eye-slash"></i>
                                </button>
                            </div>
                            <div class="col-lg mt-3" style="max-height: 3.3em;">
                                <label class="input-title">Nova Senha:</label>
                                <input class="form-control" type="password"
                                    id="nova_senha" name="nova_senha"
                                    minlength="8"
                                    pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}"
                                    title="A senha deve ter no mínimo 8 caracteres, incluindo uma letra maiúscula, uma minúscula e um número."
                                    required>
                                <button type="button" class="btn btn-link btn-showpassword float-end" onclick="showPassword('#nova_senha', '#new-icon-password')">
                                    <i id="new-password-icon" class="bi bi-eye-slash"></i>
                                </button>
                            </div>
                            <div class="col-lg mt-3" style="max-height: 3.3em;">
                                <label class="input-title">Confirmar
                                    Senha:</label>
                                <input class="form-control" type="password"
                                    id="confirmar_senha" name="confirmar_senha"
                                    minlength="8"
                                    title="Confirmar senha"
                                    required>
                                <button type="button" class="btn btn-link btn-showpassword float-end" onclick="showPassword('#confirmar_senha', '#new-password-confirm-icon')">
                                    <i id="new-password-confirm-icon" class="bi bi-eye-slash"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md mt-4"
                                style="display: flex; justify-content: flex-end;">
                                <button class="btn btn-custom"
                                    type="submit">Confirmar</button>
                            </div>
                        </div>
                    </form>
                </section>
            </section>

            {% if teams|length > 0 %}
            <section id="teams" class="container-info card w-100 h-100"
                style="display: none;">
                <div class="card-header">
                    <h4>Equipes</h4>
                </div>
                {% if teams|length == 1 %}
                    <div class="card-body w-70">
                            <div style="color: #2c3e50; text-align: center;"><h3>{{ teams[0].team }}</h3></div>
                            <div class="card-body mx-auto" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 1;">
                                <div style="max-height: 150px; overflow: hidden;" class="rounded"><img src="{{ url_for('uploaded_file', filename='teams/img/' + teams[0].img) }}" class="img-fluid rounded img-cover"></div>
                                <h4 style="margin: 5px; color: rgb(59, 140, 110);">Liderança</h4>
                                <ul class="list-group">
                                    <li class="list-group-item"><span>Scrum Master:</span> <span>{{ teams[0].master }} ({{ teams[0].EmMaster }})</span></li>
                                    <li class="list-group-item"><span>Product Owner:</span> <span>{{ teams[0].pOwner }} ({{ teams[0].EmPOwner }})</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% else %}
                <div id="teams-carousel" class="card-body carousel slide">
                    <div class="carousel-inner mx-auto" style="width: 90%;">

                        {% for team in teams %}
                            <div class="card carousel-item {% if team == teams[0] %}active{% endif %}">
                                <div style="color: #2c3e50; text-align: center; margin-top: 10px;"><h3>{{ team.team }}</h3></div>
                                <div class="card-body" style=" padding: 1;">
                                    <div style="max-height: 150px; overflow: hidden; text-align: center;" class="rounded"><img src="{{ url_for('uploaded_file', filename='teams/img/' + team.img) }}" class="img-fluid rounded img-cover"></div>

                                    <h4 style="margin: 5px; color: rgb(59, 140, 110); ">Liderança</h4>
                                <ul class="list-group">
                                    <li class="list-group-item border-0"><strong> Scrum Master:</strong> <span>{{ team.EmMaster }}</span></li>
                                    <li class="list-group-item border-0"><strong>Product Owner:</strong> <span>{{ team.EmPOwner }}</span></li>
                                </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <button class="carousel-control-prev" type="button" data-bs-target="#teams-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#teams-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
                {% endif %}
            </section>
            {% endif %}
        </section>
    </div>

        <!-- Modals -->

        <!-- Update info modal -->
        <div class="modal fade" id="modal-update-info">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header ">
                        <h4 class="modal-title">Atualizar Dados</h4>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form id="change-personal-info-form">
                            <div class="mt-3">
                                <label for="nome-personal-info-form"
                                    class="input-title">Nome:</label>
                                <input class="form-control info-changer"
                                    id="nome-personal-info-form"
                                    name="nome-personal-info-form"
                                    value="{{session['user']['name']}}">
                            </div>
                            <div class="mt-3">
                                <label for="select-course-personal-info-form"
                                    class="input-title">Curso:</label>
                                <select class="form-control info-changer"
                                    id="select-course-personal-info-form"
                                    name="select-course-personal-info-form"
                                    value="{{session['user']['course']}}">
                                    <option
                                        value="Análise e Desenvolvimento de Sistemas">Análise
                                        e Desenvolvimento de Sistemas</option>
                                    <option value="Banco de Dados">Banco de
                                        Dados</option>
                                    <option
                                        value="Desenvolvimento de Software Multiplataforma">Desenvolvimento
                                        de Software Multiplataforma</option>
                                    <option
                                        value="Gestão da Produção Industrial">Gestão
                                        da Produção Industrial</option>
                                    <option value="Gestão Empresarial">Gestão
                                        Empresarial</option>
                                    <option value="Logística">Logística</option>
                                    <option
                                        value="Manufatura Avançada">Manufatura
                                        Avançada</option>
                                    <option
                                        value="Manutenção de Aeronaves">Manutenção
                                        de Aeronaves</option>
                                    <option
                                        value="Projeto de Estruturas Aeronáuticas">Projeto
                                        de Estruturas Aeronáuticas</option>
                                </select>
                            </div>
                            <div class="mt-3">
                                <label for="semester-personal-info-form"
                                    class="input-title">Semestre:</label>
                                <select class="form-control info-changer"
                                    id="semester-personal-info-form"
                                    name="semester-personal-info-form"
                                    value="{{session['user']['semester']}}">
                                    <option value="1">1°</option>
                                    <option value="2">2°</option>
                                    <option value="3">3°</option>
                                    <option value="4">4°</option>
                                    <option value="5">5°</option>
                                    <option value="6">6°</option>
                                    <option value="7">7°</option>
                                    <option value="8">8°</option>
                                    <option value="9">9°</option>
                                    <option value="10">10°</option>
                                </select>
                            </div>
                            <div class="mt-3 d-flex justify-content-end">
                                <div class="w-200">
                                    <button type="button" class="btn btn-danger"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button class="btn btn-custom disabled"
                                        id="btn-change-info"
                                        type="submit">Confirmar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Confirm Modal (insert password) -->
        <div class="modal fade" id="modal-confirm-change">
            <div class="modal-dialog mx-auto" style="margin-top: 1%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Tem certeza?</h4>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form id="password-confirmation-form">
                            <label for="info-password">Para a sua segurança,
                                insira sua senha:</label>
                            <input class="form-control" type="password"
                                id="info-password" name="info-password"
                                minlength="8" required>
                            <div class="mt-3 d-flex justify-content-end">
                                <div class="w-200">
                                    <button type="button" class="btn btn-danger"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-custom"
                                        id="btn-confirm">Confirmar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de confirmação de e-mail -->
        <div
            class="modal fade"
            id="modal-confirmation-exclude"
            tabindex="-1"
            aria-labelledby="label-modal-confirmation"
            aria-hidden="true" data-bs-backdrop="static"
            data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Confirme seu e-mail
                        </h5>
                    </div>
                    <div class="modal-body">
                        <p>
                            Enviamos um código para <strong
                                id="email-addresses"></strong>. Verifique na sua
                            caixa de span! Por
                            favor, digite abaixo:
                        </p>
                        <form id="form-confirmation-delete">
                            <input
                                type="int"
                                class="form-control mb-3"
                                id="input-code-form"
                                name="input-code-form"
                                placeholder="Digite o código"
                                autocomplete="off"
                                required />
                            <div class="text-end">
                                <button type="submit"
                                    class="btn btn-custom">Confirmar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
    {% endblock %}