{% extends "certificates/vw_template.html" %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/certificates/style_query.css') }}" />


<!-- Modal Bootstrap para confirmar alteração no status do atestado -->
<div class="modal fade" id="modal-confirm">
  <div class="modal-dialog modal-dialog-centered mx-auto" style="margin-top: 1%;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmar ação</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Tem certeza de que deseja deletar esse atestado?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-custom" id="btn-confirm" data-bs-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mt-3">
        <div class="card-header">
          <h4 class="text-center align-self-center" style="font-size: 35px">
            Meus Atestados
          </h4>
        </div>
        <div class="card-body overflow-auto">
          <table id="table-query">
            <thead>
              <tr class="bg-custom-primary">
                <th>CID</th>
                <th>Data Inicial</th>
                <th>Data Final</th>
                <th>Período de Afastamento</th>
                <th>Status do Atestado</th>
                <th></th>
              </tr>
            </thead>
            <!--Fileiras de Atestados, Substituir por valores reais quando o Banco de dados estiver pronto-->
            <tbody>
              {% if data %} {% for certificates in data %}
              <tr>
                <td>{{ certificates.cid }}</td>
                <td>{{ certificates.dateIn }}</td>
                <td>{{ certificates.dateFin }}</td>
                <td>{{ certificates.period }}</td>
                <td>{{ certificates.status }}</td>
                <td>
                  {% if certificates.status!='Aprovado' %}
                  <button class="btn-delete-certificate btn btn-danger" data-id="{{certificates.id}}">
                    <i class="bi bi-trash"></i>
                  </button>
                  {% endif %}
                </td>
              </tr>
              {% endfor %} {% else %}
              <tr>
                <td colspan="6" class="text-center">
                  Nenhum atestado encontrado com esse CPF.
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='scripts/certificates/script_user_certificates.js') }}"></script>
{% endblock %}