{% extends "certificates/vw_template.html" %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='stylesheets/certificates/style_query.css') }}"
/>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mt-3">
        <div class="card-header">
          <h4 class="text-center align-self-center" style="font-size: 35px">
            Meus Atestados
          </h4>
        </div>
        <div class="card-body overflow-auto">
          <table id="table-query">
            <thead>
              <tr class="bg-custom-primary">
                <th>CID</th>
                <th>Data Inicial</th>
                <th>Data Final</th>
                <th>Período de Afastamento</th>
                <th>Status do Atestado</th>
              </tr>
            </thead>
            <!--Fileiras de Atestados, Substituir por valores reais quando o Banco de dados estiver pronto-->
            <tbody>
              {% if data %} {% for certificates in data %}
              <tr>
                <td>{{ certificates.cid }}</td>
                <td>{{ certificates.dateIn }}</td>
                <td>{{ certificates.dateFin }}</td>
                <td>{{ certificates.period }}</td>
                <td>{{ certificates.status }}</td>
              </tr>
              {% endfor %} {% else %}
              <tr>
                <td colspan="6" class="text-center">
                  Nenhum atestado encontrado com esse CPF.
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script
    src="{{ url_for('static', filename='scripts/certificates/script_query.js') }}"></script>
{% endblock %}
