{% extends "teams/vw_template.html" %} 
{% block content %}

<!-- Estilo da página -->
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/teams/style_form_register.css') }}" />

<!-- Container para o formulário de cadastro de equipes -->
<section id="teams-section" class="container-fluid">
    <br>
    <h1 class="text-center" id="form-register-title">Cadastro de Equipe</h1>
    <br>

    <form id="form-teams" action="/equipes/cadastro/cadastrar" method="post" enctype="multipart/form-data">
        
        <!-- Container para Nome da Equipe e Scrum Master com fundo mais claro e bordas arredondadas -->
        <div class="container bg-light p-4 mb-4 rounded">
            <div class="row">
                <!-- Nome da Equipe -->
                <div class="col-md-6">
                    <div class="form-group p-2">
                        <label for="input-nome-form-equipe" class="input-title">Nome da Equipe:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="input-nome-form-equipe"
                            name="input-nome-form-equipe"
                            placeholder="Nome da Equipe"
                            required
                        />
                    </div>
                </div>

                <!-- Senha de Entrada -->
                <div class="col-md-6">
                    <div class="form-group p-2 position-relative">
                        <label for="input-password-form" class="input-title">Senha:</label>
                        <input
                            type="password"
                            class="form-control"
                            id="input-password-form"
                            name="input-password-form"
                            placeholder="Senha"
                            minlength="12"
                            required
                        />
                        <!-- Botão para alternar visibilidade da senha -->
                        <button
                            type="button"
                            id="toggle-password-register"
                            class="btn btn-link position-absolute"
                        >
                            <i id="password-icon-register" class="bi bi-eye-slash"></i> <!-- Inicialmente oculto -->
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <!-- Email do Scrum Master -->
                <div class="col-md-6">
                    <div class="form-group p-2">
                        <label for="input-email-form-scmaster" class="input-title">Email do Scrum Master:</label>
                        <input
                            type="email"
                            class="form-control"
                            id="input-email-form-scmaster"
                            name="input-email-form-scmaster"
                            placeholder="Email do Master"
                            required
                        />
                    </div>
                </div>

                <!-- Email do Product Owner -->
                <div class="col-md-6">
                    <div class="form-group p-2">
                        <label for="input-email-form-po" class="input-title">Email do Product Owner:</label>
                        <input
                            type="email"
                            class="form-control"
                            id="input-email-form-po"
                            name="input-email-form-po"
                            placeholder="Email do P.O."
                            required
                        />
                    </div>
                </div>
                
            </div>
        </div>

        <div class="container bg-light p-4 rounded">
            
                <div id="dev-fields-container" class="row form-group p-2"></div>
            
            <div class="align-items-center text-center">
                <button id="btn-add-field" type="button" class="btn m-3 btn-primary">+ Adicionar Dev</button>
            </div>
        </div>
        <section style="text-align: center; margin-top: 30px;">
            <p>Ao selecionar a opção <strong>Criar Equipe</strong>, o usuário declara
            estar de acordo com a nossa <a href="/equipes/privacidade" target="blank" class="link-custom">
            política de privacidade</a>.</p>
        </section>
        <!-- Botão Criar Equipe -->
        <div class="container text-center mt-4">
            <button type="submit" class="btn btn-custom">Criar Equipe</button>
        </div>

    </form>

    <!-- Script para adicionar e remover os campos de Dev -->
    <script src="{{ url_for('static', filename='scripts/teams/script_form_register.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/teams/script_password_toggle.js') }}"></script>
</section>

{% endblock %}
