{% extends "teams/vw_template.html" %} {% block content %}

<!-- Style da pagina -->
<link
rel="stylesheet"
href="{{ url_for('static', filename='stylesheets/teams/style_form_evaluate.css') }}"
/>

<!-- Container para o formulário de avaliação de equipe -->
<section id="avaliacao-section" class="container-fluid">
    <div class="container p-4 mb-4 rounded">
    <h1 class="text-center form-evaluate-title" style="font-size:50px;">Avaliação de Equipe</h1>
    <p class="text-center">Avalie a equipe baseada nos critérios abaixo:</p>
</div>

    <form id="form-avaliacao" method="post">
        
        <!-- Container para informações e avaliação do Scrum Master -->
        <div class="container bg-light p-4 mb-4 rounded">
            <h2>Scrum Master</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group p-2">
                        <label for="scrumMaster">Nome do Scrum Master:</label>
                        <span id="scrumMaster" class="form-control">[Nome do Scrum Master]</span>
                        <button type="button" class="btn btn-primary mt-2" onclick="mostrarGraficoPlaceholder('scrumMaster')">Gráfico de Atributos</button>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-wrap">
                    <div class="form-group p-2 w-25">
                        <label for="proatividade_sm">Proatividade:</label>
                        <select id="proatividade_sm" class="form-control btn-sm">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="form-group p-2 w-25">
                        <label for="entrega_sm">Entrega:</label>
                        <select id="entrega_sm" class="form-control btn-sm">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="form-group p-2 w-25">
                        <label for="comunicacao_sm">Comunicação:</label>
                        <select id="comunicacao_sm" class="form-control btn-sm">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="form-group p-2 w-25">
                        <label for="agilidade_sm">Agilidade:</label>
                        <select id="agilidade_sm" class="form-control btn-sm">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- Container para informações e avaliação do Product Owner -->
        <div id="productOwnerOriginal" class="container bg-light p-4 mb-4 rounded">
            <h2>Product Owner</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group p-2">
                        <label for="productOwner">Nome do Product Owner:</label>
                        <span id="productOwner" class="form-control">[Nome do Product Owner]</span>
                        <button type="button" class="btn btn-primary mt-2" onclick="mostrarGraficoPlaceholder('productOwner')">Gráfico de Atributos</button>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-wrap">
                    <div class="form-group p-2 w-25">
                        <label for="proatividade_po">Proatividade:</label>
                        <select id="proatividade_po" class="form-control btn-sm">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="form-group p-2 w-25">
                        <label for="entrega_po">Entrega:</label>
                        <select id="entrega_po" class="form-control btn-sm">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="form-group p-2 w-25">
                        <label for="comunicacao_po">Comunicação:</label>
                        <select id="comunicacao_po" class="form-control btn-sm">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="form-group p-2 w-25">
                        <label for="agilidade_po">Agilidade:</label>
                        <select id="agilidade_po" class="form-control btn-sm">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="developersContainer"></div>

        <div class="container text-center mt-4">
            <button type="submit" class="btn btn-success btn-lg">Enviar Avaliação</button>
        </div>
    </form>
</section>

<script src="{{ url_for('static', filename='scripts/teams/script_form_evaluate.js') }}"></script>  <!-- Inclua o script aqui -->

{% endblock %}
