{% extends "teams/vw_template.html" %}
{% block content %}

<!-- Style da pagina -->
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/teams/style_form_evaluate.css') }}" />

<!-- Container para o formulário de avaliação de equipe -->
<section id="avaliacao-section" class="container-fluid">
    <div class="container p-4 mb-4 rounded">
        <h1 class="text-center form-evaluate-title" style="font-size:50px;">Avaliação de Equipe</h1>
        <p class="text-center">Avalie a equipe baseada nos critérios abaixo:</p>
    </div>

    <form id="form-avaliacao" method="post" data-devs='{{ session["team"]["devs"] | tojson | safe}}'>

        <!-- SCRUM MASTER -->
        <div class="container bg-light p-4 mb-4 rounded">
            <h2 class="input-title">Scrum Master</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group p-2">
                        <label for="scrumMaster">Nome do Scrum Master:</label>
                        <span id="scrumMaster" class="form-control">[Nome do Scrum Master]</span>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-wrap">
                    <div class="row w-100">
                        <!-- Proatividade -->
                        <div class="form-group p-2 col-6">
                            <label>Proatividade:</label>
                            <div class="d-flex align-items-center">
                                <input type="range" min="0" max="3" step="0.1" value="0"
                                    class="form-range me-2 sync-slider" data-target="proativ_input">
                                <input type="number" min="0" max="3" step="0.1" value="0" id="proativ_input"
                                    class="form-control w-50 sync-input">
                            </div>
                        </div>
                        <!-- Entrega -->
                        <div class="form-group p-2 col-6">
                            <label>Entrega:</label>
                            <div class="d-flex align-items-center">
                                <input type="range" min="0" max="3" step="0.1" value="0"
                                    class="form-range me-2 sync-slider" data-target="entrega_input">
                                <input type="number" min="0" max="3" step="0.1" value="0" id="entrega_input"
                                    class="form-control w-50 sync-input">
                            </div>
                        </div>
                    </div>
                    <div class="row w-100">
                        <!-- Comunicação -->
                        <div class="form-group p-2 col-6">
                            <label>Comunicação:</label>
                            <div class="d-flex align-items-center">
                                <input type="range" min="0" max="3" step="0.1" value="0"
                                    class="form-range me-2 sync-slider" data-target="comm_input">
                                <input type="number" min="0" max="3" step="0.1" value="0" id="comm_input"
                                    class="form-control w-50 sync-input">
                            </div>
                        </div>
                        <!-- Cooperação -->
                        <div class="form-group p-2 col-6">
                            <label>Cooperação:</label>
                            <div class="d-flex align-items-center">
                                <input type="range" min="0" max="3" step="0.1" value="0"
                                    class="form-range me-2 sync-slider" data-target="coop_input">
                                <input type="number" min="0" max="3" step="0.1" value="0" id="coop_input"
                                    class="form-control w-50 sync-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PRODUCT OWNER -->
        <div class="container bg-light p-4 mb-4 rounded">
            <h2 class="input-title">Product Owner</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group p-2">
                        <label for="productOwner">Nome do Product Owner:</label>
                        <span id="productOwner" class="form-control">[Nome do Product Owner]</span>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-wrap">
                    <!-- Proatividade -->
                    <div class="row w-100">
                        <div class="form-group p-2 col-6">
                            <label>Proatividade:</label>
                            <div class="d-flex align-items-center">
                                <input type="range" min="0" max="3" step="0.1" value="0"
                                    class="form-range me-2 sync-slider" data-target="proativ_po_input">
                                <input type="number" min="0" max="3" step="0.1" value="0" id="proativ_po_input"
                                    class="form-control w-50 sync-input">
                            </div>
                        </div>
                        <!-- Entrega -->
                        <div class="form-group p-2 col-6">
                            <label>Entrega:</label>
                            <div class="d-flex align-items-center">
                                <input type="range" min="0" max="3" step="0.1" value="0"
                                    class="form-range me-2 sync-slider" data-target="entrega_po_input">
                                <input type="number" min="0" max="3" step="0.1" value="0" id="entrega_po_input"
                                    class="form-control w-50 sync-input">
                            </div>
                        </div>
                    </div>
                    <!-- Comunicação -->
                    <div class="row w-100">
                        <div class="form-group p-2 col-6">
                            <label>Comunicação:</label>
                            <div class="d-flex align-items-center">
                                <input type="range" min="0" max="3" step="0.1" value="0"
                                    class="form-range me-2 sync-slider" data-target="comm_po_input">
                                <input type="number" min="0" max="3" step="0.1" value="0" id="comm_po_input"
                                    class="form-control w-50 sync-input">
                            </div>
                        </div>
                        <!-- Cooperação -->
                        <div class="form-group p-2 col-6">
                            <label>Cooperação:</label>
                            <div class="d-flex align-items-center">
                                <input type="range" min="0" max="3" step="0.1" value="0"
                                    class="form-range me-2 sync-slider" data-target="coop_po_input">
                                <input type="number" min="0" max="3" step="0.1" value="0" id="coop_po_input"
                                    class="form-control w-50 sync-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="developersContainer"></div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-custom btn-lg" class="input-title">Enviar Avaliação</button>
        </div>
    </form>

</section>

<script src="{{ url_for('static', filename='scripts/teams/script_form_evaluate.js') }}"></script>


{% endblock %}