{% extends "teams/vw_template.html" %} {% block content %}

<!-- Style da pagina -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='stylesheets/teams/style_form_register.css') }}"
/>

<!-- Container para o formulário de cadastro de equipes -->
<section id="equipes-section" class="container-fluid">
    <h1 class="text-center form-register-title">Cadastro de Equipes</h1>
    <p class="text-center">Forme sua equipe no modelo ágil Scrum:</p>

    <form id="form-equipes" action="/equipes/cadastro/cadastrar" method="post" enctype="multipart/form-data">
        
        <!-- Container para Nome da Equipe e Scrum Master com fundo mais claro e bordas arredondadas -->
        <div class="container bg-light p-4 mb-4 rounded">
            <div class="row">
                <!-- Nome da Equipe ao lado da Senha -->
                <div class="col-md-6">
                    <div class="form-group p-2">
                        <label for="input-nome-form-equipe" class="input-title">Nome da Equipe:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="input-nome-form-equipe"
                            name="input-nome-form-equipe"
                            placeholder="Nome da Equipe"
                            required
                        />
                    </div>
                </div>

                <!-- Senha de Entrada -->
                <div class="col-md-6">
                    <div class="form-group p-2">
                        <label for="input-password-form" class="input-title">Senha de Entrada:</label>
                        <input
                            type="password"
                            class="form-control"
                            id="input-password-form"
                            name="input-password-form"
                            placeholder="Senha"
                            required
                        />
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <!-- Nome do Scrum Master ao lado do Email do Scrum Master -->
                <div class="col-md-6">
                    <div class="form-group p-2">
                        <label for="input-nome-form-scmaster" class="input-title">Nome do Scrum Master:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="input-nome-form-scmaster"
                            name="input-nome-form-scmaster"
                            placeholder="Nome do Master"
                            required
                        />
                    </div>
                </div>

                <!-- Email do Scrum Master -->
                <div class="col-md-6">
                    <div class="form-group p-2">
                        <label for="input-email-form-scmaster" class="input-title">Email do Scrum Master:</label>
                        <input
                            type="email"
                            class="form-control"
                            id="input-email-form-scmaster"
                            name="input-email-form-scmaster"
                            placeholder="Email do Master"
                            required
                        />
                    </div>
                </div>
                
            </div>
            <div class="row mt-2">
                <!-- Nome do Scrum Master ao lado do Email do Scrum Master -->
                <div class="col-md-6">
                    <div class="form-group p-2">
                        <label for="input-nome-form-scmaster" class="input-title">Nome do Product Owner:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="input-nome-form-po"
                            name="input-nome-form-po"
                            placeholder="Nome do P.O."
                            required
                        />
                    </div>
                </div>

                <!-- Email do Scrum Master -->
                <div class="col-md-6">
                    <div class="form-group p-2">
                        <label for="input-email-form-po" class="input-title">Email do Product Owner:</label>
                        <input
                            type="email"
                            class="form-control"
                            id="input-email-form-po"
                            name="input-email-form-po"
                            placeholder="Email do P.O."
                            required
                        />
                    </div>
                </div>
                
            </div>
        </div>

        <div class="container bg-light p-4 rounded">
            
                <div id="devFieldsContainer"></div>
            
            <div class="align-items-center text-center">
                <button id="addFieldBtn" class="btn m-3 btn-primary">Adicionar Dev</button>
            </div>
        </div>
        <section style="text-align: center; margin-top: 30px;">
            <p>Ao selecionar a opção <strong>Criar Equipe</strong>, o usuário declara
            estar de acordo com a nossa <a href="/equipes/privacidade" target="blank" class="link-custom">
            política de privacidade</a>.</p>
        </section>
        <!-- Botão Criar Equipe -->
        <div class="container text-center mt-4">
            <button type="submit" class="btn btn-success">Criar Equipe</button>
        </div>

    </form>

    <!-- Script para adicionar e remover os campos de Dev -->
    <script src="{{ url_for('static', filename='scripts/teams/script_form_register.js') }}"></script>
    
</section>
{% endblock %}