{% extends "teams/vw_template.html" %}
{% block content %}

<link
rel="stylesheet"
href="{{ url_for('static', filename='stylesheets/teams/style_view_teams.css') }}"
/>

<h1 class="title">Equipes Cadastradas (TESTE)</h1>

<div class="team-container">
  {% if teams %}
    {% for team in teams %}
    <div class="team-card">
      <h3 style="text-align: center; font-weight: bold;">{{ team.team }}</h3>
      <div class="team-meta">
        <div>Status: <span class="dev-badge">Ativa</span></div>
        <p>ID: <span class="dev-badge">{{ team.id }}</span></p>
        <p>ID: <span class="dev-badge">{{ team.password }}</span></p>
      </div>

      <div class="member-list">
        <h4>Liderança</h4>
        <ul>
          <li>
            <span class="member-role">Scrum Master:</span>
            <span class="member-email">{{ team.master }} ({{ team.EmMaster }})</span>
          </li>
          <li>
            <span class="member-role">Product Owner:</span>
            <span class="member-email">{{ team.pOwner }} ({{ team.EmPOwner }})</span>
          </li>
        </ul>

        {% if team.devs %}
        <h4>Desenvolvedores</h4>
        <ul>
          {% for dev in team.devs %}
          <li>
            <span class="member-role">{{ dev.nome }}</span>
            <span class="member-email">{{ dev.email }}</span>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  {% else %}
    <div class="no-teams">
      <h3>Nenhuma equipe cadastrada</h3>
      <p>Acesse "Cadastro de Equipes" para começar</p>
    </div>
  {% endif %}
</div>

{% endblock %}