{% extends "teams/vw_template.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/teams/style_view_teams.css') }}" />

<h1 class="title">Equipes Cadastradas</h1>
{% if teams %}


<div class="carousel-wrapper">
  <button class="carousel-btn left" id="btnLeft" onclick="scrollCarousel(-1)">❮</button>

  <div class="team-carousel" id="teamCarousel">

    {% for team in teams %}
    <div class="team-card">
      <h3 class="text-center">{{ team.team }}</h3>
      <div class="position-relative border rounded overflow-hidden mb-3"
            style="height: 300px;">
        <img src="{{ url_for('uploaded_file', filename='teams/img/' + team.img) }}" class="w-100 h-100 position-absolute top-0 start-0 object-fit-cover">

      </div>
      <div class="member-list">
        <h4>Liderança</h4>
        <ul>
          <li><span class="member-role">Scrum Master:</span> <span>{{ team.master }} ({{ team.EmMaster }})</span></li>
          <li><span class="member-role">Product Owner:</span> <span>{{ team.pOwner }} ({{ team.EmPOwner }})</span></li>
        </ul>
      </div>
    </div>
    {% endfor %}

  </div>

  <button class="carousel-btn right" id="btnRight" onclick="scrollCarousel(1)">❯</button>
</div>

{% else %}
<div class="no-teams">
  <h3>Nenhuma equipe cadastrada</h3>
  <p>Acesse "Cadastro de Equipes" para começar</p>
</div>
{% endif %}
</div>

<script src="{{ url_for('static', filename='scripts/teams/script_view_teams.js') }}"></script>
{% endblock %}