{% extends "teams/vw_template.html" %}
{% block content %}

<link
rel="stylesheet"
href="{{ url_for('static', filename='stylesheets/teams/style_view_teams.css') }}"
/>

<h1 class="title">Equipes Cadastradas</h1>

<div class="team-container">
  {% if teams %}
    {% for team in teams %}
    <div class="team-card">
      <h3 style="text-align: center; font-weight: bold;">{{ team.team }}</h3>
      <div class="team-meta">
        <div>Status: <span class="dev-badge">Ativa</span></div>
      </div>  
    {% endfor %}
  {% else %}
    <div class="no-teams">
      <h3>Nenhuma equipe cadastrada</h3>
      <p>Acesse "Cadastro de Equipes" para começar</p>
    </div>
  {% endif %}
</div>

{% endblock %}