:root {
  --cor-primaria: #164773;
  --cor-secundaria: #0b2b40;
}

.navbar-custom {
  background-color: var(--cor-primaria);
}

.nav-link:hover {
  background-color: var(--cor-secundaria);
}

.navbar-toggler:focus {
  background-color: var(--cor-secundaria);
}

.footer-custom-bg {
  background-color: var(--cor-secundaria);
}

.bg-primario {
  background-color: var(--cor-primaria);
}

.btn-custom {
  background-color: var(--cor-primaria);
  color: #ffffff;
}

.btn-custom:hover {
  background-color: var(--cor-secundaria);
  color: #ffffff;
}

.dropdown-item:hover {
  background-color: var(--cor-secundaria);
  color: #ffffff;
  transition: all 0.3s;
}

.footer-custom a:hover{
  color: var(--cor-primaria) !important;
  transition: all 0.3s;
}
